@{
    ViewBag.Title = "Contact Ah412415";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alexandra Hiatt
    7853 Surreywood Dr<br />
    North Bend, OH 45052-6399<br />
    <abbr title="Phone">P:</abbr>
    513.692.3043
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ah412415@ohio.edu">ah412415@ohio.edu</a><br />
</address>