@{
    ViewBag.Title = "MIS 4200 Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">This is a MIS4200 Website Project created by Alexandra Hiatt.</p>
    <p><a href="www.linkedin.com/in/alexandrahiatt" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Internship</h2>
        <p>
            My internship was at Cincinnati Incorporated in Harrison, Ohio. My position was an Information Systems Co-Op and I worked within the IT department on new ERP Implementation and configuration.
        </p>
        <p><a Link to CI="btn btn-default" href="https://www.e-ci.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Campus Involvement</h2>
        <p>Eample pages for</p>
        <br />
        @Html.ActionLink("Doctor", "Index", "Doctor")
        <br />
        @Html.ActionLink("Patient", "Index", "Patient")
        <br />
        @Html.Action("Appointments", "Index", "Appointments")

      
    </div>
    <div class="col-md-4">
        <h2>My Linked In</h2>
        <p>My linkedIn helps explain a lot of my experience and what I am interested in.</p>
        <p><a Link to pi phi="btn btn-default" href="www.linkedin.com/in/alexandrahiatt">Learn more &raquo;</a></p>
    </div>
</div>